<footer class="footer mt-auto py-3 ft-color ft-stick">
  <div class="container ft-layout">
    <img
      src="https://image.flaticon.com/icons/svg/131/131057.svg"
      class="menu-button"
    />
    <img
      src="https://image.flaticon.com/icons/svg/149/149309.svg"
      class="menu-button"
    />
    <img
      src="https://image.flaticon.com/icons/svg/159/159719.svg"
      class="menu-button"
    />
    <img
      src="https://image.flaticon.com/icons/svg/149/149452.svg"
      class="menu-button"
    />
  </div>
</footer>
