<footer class="footer mt-auto py-3 ft-color ft-stick">
  <div class="container ft-layout">
    <a href="/">
      <img
        src="https://image.flaticon.com/icons/svg/131/131057.svg"
        class="menu-button"
      />
    </a>
    <a href="/explore">
      <img
        src="https://image.flaticon.com/icons/svg/149/149309.svg"
        class="menu-button"
      />
    </a>
    <% if (loggedIn) { %>
      <a href="/users/logout">
        <img
          src="https://image.flaticon.com/icons/svg/126/126467.svg"
          class="menu-button"></a>
    <% } else { %>
      <a href="/users/login">
      <img
        src="https://image.flaticon.com/icons/svg/1000/1000997.svg"
        class="menu-button"
      />
    </a>
    <% } %>
  </div>
</footer>
