<footer class="footer mt-auto py-3 ft-color ft-stick">
  <div class="container ft-layout">
    <a href="/">
      <img
        src="https://image.flaticon.com/icons/svg/131/131057.svg"
        class="menu-button"
      />
    </a>
    <a href="/explore">
      <img
        src="https://image.flaticon.com/icons/svg/149/149309.svg"
        class="menu-button"
      />
    </a>
    <a href="/profile">
      <img
        src="https://image.flaticon.com/icons/svg/149/149452.svg"
        class="menu-button"
      />
    </a>
  </div>
</footer>
