<!DOCTYPE html>
<html lang="en" class="h-100">
  <% include ./partials/head.ejs %>
  <body onload='listEventDetails("<%= id %>")' class="d-flex flex-column h-100">
    <div class="nav">
      <a href="/events/<%= id %>">
        <img
          src="https://image.flaticon.com/icons/svg/271/271220.svg"
          class="back-button"
        />
      </a>
      <span id="eventName"></span>
      <p></p>
    </div>

    <main role="main" class="flex-shrink-0">
      <div class="empty"></div>
      <form
        id="new-event"
        onsubmit='updateEvent("<%= id %>")'
        class="eventForm"
      >
        <div class="pair">
          <span class="label">Name:</span>
          <input type="text" name="name" id="name" class="boxes" />
        </div>
        <div class="pair">
          <span class="label">Location:</span>
          <input type="text" name="location" id="location" class="boxes" />
        </div>
        <div class="pair">
          <span class="label">Date:</span>
          <input type="date" name="date" id="date" value="" />
        </div>
        <input type="submit" class="submit" value="Submit" id="g" />
      </form>
      <form action="/">
        <input
          type="submit"
          onclick="deleteEvent('<%= id %>')"
          value="Delete Event"
        />
      </form>
      <div class="empty"></div>
    </main>

    <% include ./partials/footer.ejs %>
  </body>
</html>
