<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Manifest</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="./styles/event.css" rel="stylesheet" />
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/idb.js"></script>
  </head>

  <body onload='loadEvent("<%= id %>")' class="d-flex flex-column h-100">
    <div class="nav">
      <a href="../home/home.html">
        <img
          src="https://image.flaticon.com/icons/svg/271/271220.svg"
          class="back-button"
        />
      </a>
      <span id="eventName"></span>
      <p></p>
    </div>

    <main role="main" class="flex-shrink-0">
      <div class="top-container">
        <div class="row">
          <img
            src="https://datatransmission.co/wp-content/uploads/2018/06/festival-720x394.jpg"
            class="e-image"
            id="eventImage"
          />
        </div>
        <div class="row text-center">
          <p class="e-details" id="eventDescription"></p>
        </div>
      </div>

      <div class="menu">
        <img
          src="https://image.flaticon.com/icons/svg/151/151917.svg"
          class="menu-button"
        />
        <a href="./event_map.html"
          ><img
            src="https://image.flaticon.com/icons/svg/263/263072.svg"
            class="menu-button"
        /></a>
      </div>

      <div class="post">
        <div class="ps-user">
          <img
            src="https://pbs.twimg.com/profile_images/1059400736054935552/adJ8r021_400x400.jpg"
            class="ps-avatar"
          />
          <span class="ps-username">borjadotai</span>
        </div>
        <img
          src="https://pbs.twimg.com/media/CuzGVGhW8AAyKg1.jpg"
          class="ps-photo"
        />
        <div class="ps-menu">
          <img
            src="https://image.flaticon.com/icons/svg/126/126471.svg"
            class="psm-button"
          />
          <a href="../post/post.html"
            ><img
              src="https://img.icons8.com/ios/50/000000/topic.png"
              class="psm-button"
          /></a>
        </div>
        <div class="ps-content">
          <b>borjadotai: </b>Hey there this is a fake text that I am writting
          here because I need some text lol.
        </div>
        <div class="ps-details">
          <span>14 Jan</span>
          <b>See more</b>
        </div>
      </div>

      <div class="post">
        <div class="ps-user">
          <img
            src="https://pbs.twimg.com/profile_images/1059400736054935552/adJ8r021_400x400.jpg"
            class="ps-avatar"
          />
          <span class="ps-username">borjadotai</span>
        </div>
        <img
          src="https://pbs.twimg.com/media/CuzGVGhW8AAyKg1.jpg"
          class="ps-photo"
        />
        <div class="ps-menu">
          <img
            src="https://image.flaticon.com/icons/svg/126/126471.svg"
            class="psm-button"
          />
          <a href="../post/post.html"
            ><img
              src="https://img.icons8.com/ios/50/000000/topic.png"
              class="psm-button"
          /></a>
        </div>
        <div class="ps-content">
          <b>borjadotai: </b>Hey there this is a fake text that I am writting
          here because I need some text lol.
        </div>
        <div class="ps-details">
          <span>14 Jan</span>
          <b>See more</b>
        </div>
      </div>
      <div class="empty"></div>
    </main>

    <footer class="footer mt-auto py-3 ft-color ft-stick">
      <div class="container ft-layout">
        <img
          src="https://image.flaticon.com/icons/svg/131/131057.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/149/149309.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/159/159719.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/149/149452.svg"
          class="menu-button"
        />
      </div>
    </footer>
  </body>
</html>
