<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="https://weather-pwa-sample.firebaseapp.com/final/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather PWA</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/inline.css">

    <!-- TODO add manifest here -->
    <link rel="manifest" href="/manifest.json">
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Weather PWA">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/idb.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/scripts/bootstrap.min.js"></script>
</head>
<body onload='loadEvent("<%= id %>")'>
        <div id="eventData" class="event" style="text-align: center"></div>
        <form action="/events/<%= id %>/edit">
            <input type="submit" value="Edit Event" />
        </form>
</body>
</html>