<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="canonical"
      href="https://weather-pwa-sample.firebaseapp.com/final/"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Manifest</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/inline.css" />
    <link href="/styles/event.css" rel="stylesheet" />
    <link rel="manifest" href="/manifest.json" />
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="ManiFest" />
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png" />
    <meta
      name="msapplication-TileImage"
      content="images/icons/icon-144x144.png"
    />
    <meta name="msapplication-TileColor" content="#2F3BA2" />
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/idb.js"></script>
  </head>

  <body onload='loadEvent("<%= id %>")' class="d-flex flex-column h-100">
    <div class="nav">
      <a href="/">
        <img
          src="https://image.flaticon.com/icons/svg/271/271220.svg"
          class="back-button"
        />
      </a>
      <span id="eventName"></span>
      <p></p>
    </div>

    <main role="main" class="flex-shrink-0">
      <div class="top-container">
        <div id="eventImage" class="row"></div>
        <div class="row text-center">
          <p class="e-details" id="eventDescription"></p>
        </div>
        <form action="/events/<%= id %>/edit">
          <input type="submit" value="Edit Event" />
        </form>
        <form action="/">
          <input
            type="submit"
            onclick="deleteEvent('<%= id %>')"
            value="Delete Event"
          />
        </form>
      </div>

      <div class="menu">
        <img
          src="https://image.flaticon.com/icons/svg/151/151917.svg"
          class="menu-button"
        />
        <a href="./event_map.html"
          ><img
            src="https://image.flaticon.com/icons/svg/263/263072.svg"
            class="menu-button"
        /></a>
      </div>
      <div id="posts"></div>
      <div class="empty"></div>
    </main>

    <footer class="footer mt-auto py-3 ft-color ft-stick">
      <div class="container ft-layout">
        <img
          src="https://image.flaticon.com/icons/svg/131/131057.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/149/149309.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/159/159719.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/149/149452.svg"
          class="menu-button"
        />
      </div>
    </footer>
  </body>
</html>
