<!DOCTYPE html>
<html lang="en" class="h-100">
  <% include ./partials/head.ejs %>
  <body class="d-flex flex-column h-100" onload="initExplore()">
    <div class="nav">
      <input list="results" class="search" id="search" />
      <input type="text" name="datefilter" placeholder="Date" class="date" />
    </div>

    <main role="main">
      <div class="map" id="map_canvas"></div>
    </main>
    <% include ./partials/footer.ejs %>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATXNPRdHfVZng3m4PTz6-4a82YAq6Z48E&sensor=true"
    ></script>
  </body>
</html>