<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Manifest</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/idb.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>
    <link href="/styles/explore.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQojS3vo9zXib311L9_TUm65wMIH3wnHA&sensor=true"
    ></script>
    <script type="text/javascript">
      function initialize() {
        var myLatlng = new google.maps.LatLng(
          53.38108855193859,
          -1.4801287651062012
        );
        var mapOptions = {
          zoom: 18,
          center: myLatlng
        };
        var map = new google.maps.Map(
          document.getElementById("map_canvas"),
          mapOptions
        );
        // To add the marker to the map, use the 'map' property
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: "Hello World!"
        });
      }
      google.maps.event.addDomListener(window, "load", initialize);
    </script>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="nav">
      <input class="search" />
      <input type="text" name="datefilter" placeholder="Date" class="date" />
    </div>

    <main role="main" class="flex-shrink-0">
      <div class="map" id="map_canvas"></div>
    </main>

    <footer class="footer mt-auto py-3 ft-color ft-stick">
      <div class="container ft-layout">
        <img
          src="https://image.flaticon.com/icons/svg/131/131057.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/149/149309.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/159/159719.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/149/149452.svg"
          class="menu-button"
        />
      </div>
    </footer>
    <script type="text/javascript">
      $(function() {
        $('input[name="datefilter"]').daterangepicker({
          autoUpdateInput: false,
          locale: {
            cancelLabel: "Clear"
          }
        });

        $('input[name="datefilter"]').on("apply.daterangepicker", function(
          ev,
          picker
        ) {
          $(this).val(
            picker.startDate.format("MM/DD/YYYY") +
              " - " +
              picker.endDate.format("MM/DD/YYYY")
          );
        });

        $('input[name="datefilter"]').on("cancel.daterangepicker", function(
          ev,
          picker
        ) {
          $(this).val("");
        });
      });
    </script>
  </body>
</html>
