<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Manifest</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="/styles/styles.css" rel="stylesheet" />
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/seedData.js"></script>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/idb.js"></script>
  </head>

  <body onload="initEvents()" class="d-flex flex-column h-100">
    <div class="nav">
      <span>ManiFest</span>
    </div>

    <main role="main" class="flex-shrink-0">
      <div class="offline_div" id="offline_div" style="display: none">
        You are offline
      </div>
      <div class="top-container">
        <div class="row">
          <img
            src="https://blog.malwarebytes.com/wp-content/uploads/2018/10/shutterstock_612941954-900x506.jpg"
            class="e-image"
          />
        </div>
      </div>
      <div class="section">
        <div class="st-title">
          Trending
        </div>
        <div class="st-galery" id="events"></div>
      </div>
      <div class="section">
        <div class="st-title">
          Near you
        </div>
        <div class="st-galery">
          <img
            src="https://datatransmission.co/wp-content/uploads/2018/06/festival-720x394.jpg"
            )
            class="st-image"
          />
        </div>
      </div>
      <div class="section">
        <div class="st-title">
          Past events
        </div>
        <div class="st-galery">
          <div
            style="background: 
            linear-gradient(
              rgba(0, 0, 0, 0.4),
              rgba(0, 0, 0, 0.4)
            ),
            url(https://datatransmission.co/wp-content/uploads/2018/06/festival-720x394.jpg);
          background-size: cover;"
            class="st-image"
          >
            ShefFest
          </div>
          <div
            style="background: 
            linear-gradient(
              rgba(0, 0, 0, 0.4),
              rgba(0, 0, 0, 0.4)
            ),
            url(https://datatransmission.co/wp-content/uploads/2018/06/festival-720x394.jpg);
          background-size: cover;"
            class="st-image"
          >
            ShefFest
          </div>
        </div>
      </div>
      <div class="empty"></div>
    </main>

    <footer class="footer mt-auto py-3 ft-color ft-stick">
      <div class="container ft-layout">
        <img
          src="https://image.flaticon.com/icons/svg/131/131057.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/149/149309.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/159/159719.svg"
          class="menu-button"
        />
        <img
          src="https://image.flaticon.com/icons/svg/149/149452.svg"
          class="menu-button"
        />
      </div>
    </footer>
  </body>
</html>
