<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Manifest</title>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/idb.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="/styles/post.css" rel="stylesheet" />
    <script src="/scripts/app.js"></script>
    <script src="/scripts/database.js"></script>
  </head>

  <body
    class="d-flex flex-column h-100"
    onload='loadPost("<%=eventId %>", "<%= postId %>")'
  >
    <div class="nav">
      <a href="../event/event.html"
        ><img
          src="https://image.flaticon.com/icons/svg/271/271220.svg"
          class="back-button"
      /></a>
      <span>Comments</span>
      <p></p>
    </div>

    <main role="main" class="flex-shrink-0" id="posts">
      <div class="empty"></div>
      <div class="comment">
        <img
          src="https://pbs.twimg.com/profile_images/1059400736054935552/adJ8r021_400x400.jpg"
          class="ps-avatar"
        />
        <div class="ps-text">
          <span class="ps-username"
            ><b>borjadotai</b> This is an example of what kind of comment
            someone would leave in a post and how that would look .</span
          >
          <p class="ps-date">15 Jan</p>
        </div>
      </div>
      <div class="comment">
        <img
          src="https://randomuser.me/api/portraits/men/17.jpg"
          class="ps-avatar"
        />
        <div class="ps-text">
          <span class="ps-username"
            ><b>mike25</b> This is another example of what kind of comment
            someone would leave in a post and how that would look.</span
          >
          <p class="ps-date">17 Jan</p>
        </div>
      </div>
    </main>

    <footer class="footer mt-auto py-3 ft-color ft-stick">
      <div><input class="box" /> <span>Post</span></div>
    </footer>
  </body>
</html>
