.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  color: #333333;
  font-weight: 500;
  font-size: 1.1rem;
}

.search {
  margin-left: 0.5rem;
  border-radius: 4px;
  width: 65%;
  height: 2rem;
  background-color: #eeeeee;
  border: none;
}

.date {
  margin-right: 0.5rem;
  border-radius: 6px;
  width: 20%;
  height: 2rem;
  border: 1.3px solid #eeeeee;
  color: #333333;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.menu-button {
  width: 1.3rem;
  margin: 0 1rem;
}

.ft-stick {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.ft-color {
  background-color: #fafafa;
  border-top: 0.1px solid #eeeeee;
  color: #333333;
  font-weight: 400;
}

.ft-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.map {
  margin-top: 3.5rem;
  width: 100%;
  height: 90vh;
}

.empty {
  height: 3.5rem;
}
