/* ---------------------------------------- */
/* ----------    INDEX STYLES     --------- */
/* ---------------------------------------- */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.1px solid #eeeeee;
  background-color: #fafafa;
  text-align: center;
  overflow: hidden;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  color: #333333;
  font-weight: 500;
  font-size: 1.1rem;
}

.small-image {
  width: 1rem;
  height: 1rem;
}

.top-container {
  min-height: 10rem;
  width: 100%;
  padding: 5rem 2.5rem 1rem 2.5rem;
}

.e-title {
  font-size: 1.5rem;
  margin: 1rem auto 0 auto;
}

.e-details {
  margin: 1rem 0 0 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.e-image {
  border-radius: 5px;
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.section {
  margin: 1rem 1.5rem;
}

.st-title {
  font-size: 1.5rem;
  color: #333333;
}

.st-galery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  min-height: 9rem;
}

.st-image {
  margin: 1rem 1rem 0 0;
  border-radius: 5px;
  min-width: 10rem;
  max-width: 10rem;
  height: 7rem;
  object-fit: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sti-title {
  font-size: 1rem;
  color: #333333;
}

.menu-button {
  width: 1.3rem;
  margin: 0 1rem;
}

.ft-stick {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.ft-color {
  background-color: #fafafa;
  border-top: 0.1px solid #eeeeee;
  color: #333333;
  font-weight: 400;
}

.ft-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.empty {
  height: 3.5rem;
}

/* ---------------------------------------- */
/* ----------    POST STYLES      --------- */
/* ---------------------------------------- */

.back-button {
  width: 1rem;
}

.menu {
  border-top: 0.1px solid #eeeeee;
  border-bottom: 0.1px solid #eeeeee;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.comment {
  min-height: 4rem;
  border-bottom: 0.1px solid #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 1.5rem 0 0;
}

.ps-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
}

.ps-date {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 0.8rem;
  color: rgb(92, 91, 91);
}

.ps-avatar {
  margin: 0 1rem 0 0.5rem;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

.ps-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ps-content {
  padding: 1rem 1rem;
  color: #333;
  font-size: 1rem;
}

.map {
  margin-top: 3.5rem;
  width: 100%;
  height: 90vh;
}

.box {
  height: 2.5rem;
  width: 80%;
  margin: 0.2rem 0.5rem 0 1rem;
  border-radius: 4px;
  border: 1px solid #cfcece;
  background-color: #fafafa;
}

.postInLine {
  display: flex;
  flex-direction: row;
}

/* ---------------------------------------- */
/* ----------   EXPLORE STYLES    --------- */
/* ---------------------------------------- */

.search {
  margin-left: 0.5rem;
  border-radius: 4px;
  width: 65%;
  height: 2rem;
  background-color: #eeeeee;
  border: none;
}

.date {
  margin-right: 0.5rem;
  border-radius: 6px;
  width: 20%;
  height: 2rem;
  border: 1.3px solid #eeeeee;
  color: #333333;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* ---------------------------------------- */
/* ----------    EVENT STYLES     --------- */
/* ---------------------------------------- */

.ps-menu {
  border-top: 0.1px solid #eeeeee;
  border-bottom: 0.1px solid #eeeeee;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.psm-button {
  width: 1.2rem;
  margin: 0 1rem;
}

.ps-user {
  border-bottom: 0.1px solid #eeeeee;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem;
}

.ps-details {
  padding: 0 1rem;
  color: rgb(80, 79, 79);
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ---------------------------------------- */
/* --------  EDIT EVENT STYLES    --------- */
/* ---------------------------------------- */

.eventForm {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
}

.pair {
  display: flex;
  flex-direction: row;
}

.label {
  color: #3333;
  font-size: 1rem;
}

.boxes {
  min-width: 10rem;
}

.submit {
  border-radius: 5px;
  border: 1px solid #fafafa;
}

/* ---------------------------------------- */
/* --------   NEW EVENT STYLES    --------- */
/* ---------------------------------------- */

.cancel {
  font-size: 1rem;
  color: #1186ca;
  font-weight: 400;
}

.share {
  font-size: 1rem;
  color: #afabab;
  font-weight: 400;
}

.event-form {
  padding: 1.5rem 1.5rem;
}

.pairs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.inputs {
  width: 11rem;
  border: none;
  border-bottom: 1px solid #e6e3e3;
}

/* ---------------------------------------- */
/* --------    NEW POST STYLES    --------- */
/* ---------------------------------------- */

.pt-comment {
  min-height: 3.5rem;
  border-bottom: 0.1px solid #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0 0 0;
}

.pt-username {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
  font-weight: 500;
  margin-top: 0.3rem;
}

.pt-text {
  width: 100%;
  min-height: 10rem;
  border: none;
  margin: 1rem 0;
  padding: 1rem;
  border-bottom: 0.1px solid #eeeeee;
}

.camera-icon {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  float: right;
}

/* ---------------------------------------- */
/* --------      AUTH STYLES      --------- */
/* ---------------------------------------- */

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  width: 50;
  height: 10rem;
}

.login-box h2 {
  font-size: 1.5rem;
  color: #333333;
}

.login-button {
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #eeecec;
  color: #333333;
  font-size: 1rem;
  border: none;
  width: 10rem;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  height: 30rem;
}

.profile-box img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 0 2rem 0;
}

/* ---------------------------------------- */
/* --------    DESKTOP STYLES     --------- */
/* ---------------------------------------- */

@media only screen and (min-width: 800px) {
  .center-ui {
    align-items: center;
  }

  .flex-shrink-0 {
    max-width: 50%;
  }
}
